body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg,#1a1a1a,#0f2027);
  color: white;
  text-align: center;
}

header {
  padding: 60px;
  background: #111;
}

section {
  padding: 40px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #00c6ff;
  margin: 10px auto;
  padding: 10px;
  width: 200px;
  border-radius: 20px;
}

footer {
  background: black;
  padding: 20px;
}
